/* General */

body {
    font-family: 'Varela Round', sans-serif;
}

/* Navigation menu */

header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

/* chatWrapper */

#chatWrapper {
    display: none;
}

#chatMessages,
#usersWrapper {
    min-height: 65vh;
    max-height: 65vh;
    overflow: auto;
}